#include "resource.h"

IDR_FONT_MAIN          RCDATA   "..\\assets\\fonts\\Inter-Bold.otf"
IDR_FONT_ICONS         RCDATA   "..\\assets\\fonts\\fa-solid-900.ttf"
IDR_FONT_BRANDS_ICONS  RCDATA   "..\\assets\\fonts\\fa-brands-400.otf"

IDR_LOGO_PNG           RCDATA   "..\\assets\\images\\logo.png"

IDI_APP_ICON           ICON     "..\\resources\\logo.ico"

IDR_PACKAGES_JSON      RCDATA   "..\\assets\\packages.json"